version: '3.8'

services:
  mysql:
    build:
      context: ./db
    container_name: sistema_vendas_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - minharede
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1" ]
      interval: 30s
      timeout: 10s
      retries: 5

  back-end:
    build:
      context: ./back-end
    container_name: sistema_vendas_back-end
    networks:
      - minharede
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/sistema_vendas
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root

  bff:
    build:
      context: ./bff
    container_name: sistema_vendas_bff
    networks:
      - minharede
    ports:
      - "3000:3000"
    depends_on:
      - back-end
    environment:
      - PORT=3000
      - BACK_END=http://back-end:8080/api

  front-end:
    build:
      context: ./front-end
    container_name: sistema_vendas_front-end
    networks:
      - minharede
    ports:
      - "4200:4200"
    depends_on:
      - bff
    volumes:
      - ${PWD}/front-end    
      
networks:
  minharede:
    driver: bridge

volumes:
  mysql-data: