<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="card mb-4">
    <div class="card-header py-3 mb-2">
      <h6 class="m-0 font-weight-bold text-secondary">Lista de Usuários</h6>
    </div>
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Login</th>
            <th scope="col">Perfil</th>
            <th scope="col">Ativo</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          @for(item of listaUsuarios().lista; track item){
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.nome}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.login}}</td>
            <td>{{item.perfil}}</td>
            <td>{{ item.active ? 'Sim' : 'Não' }}</td>
            <td><button (click)="alterarUsuario(item.id)"><i class="fa-solid fa-pen"></i></button></td>
            <td><button (click)="modalExcluirUsuario(item.id)"><i class="fa-solid fa-trash"></i></button></td>
          </tr>
          }
        </tbody>
      </table>
      <div class="d-flex flex-column justify-content-between w-100 p-4">
        <select class="form-control" style="height: 50px; width: 265px;" [(ngModel)]="limit" name="limit"
          (change)="mudarTamanho()">
          <option *ngFor="let item of paginacao; let i = index" [value]="item.numero">{{item.descricao}}</option>
        </select>
        <nav aria-label="Paginacao" class="mt-5">
          <small class="text-secondary">
            Exibindo {{ limit }} itens de {{ listaUsuarios().total }}
          </small>
          <ul class="pagination justify-content-center mt-2">
            <li class="page-item" [class.disabled]="page === 1">
              <button class="page-link text-secondary" (click)="paginaAnterior()">Anterior</button>
            </li>
            <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index"
              [class.active]="page === (i + 1)">
              <button class="page-link text-secondary" (click)="irParaPagina(i + 1)">
                {{ i + 1 }}
              </button>
            </li>
            <li class="page-item" [class.disabled]="page === totalPages">
              <button class="page-link text-secondary" (click)="proximaPagina()">Próximo</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="modal">
      <button type="button" id="botaoModal" data-bs-toggle="modal" data-bs-target="#modalConfirmacao">
      </button>
    </div>
  </div>

</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" aria-labelledby="modalConfirmacao" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmacao">Cadastro de Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>{{resposta}}</span>
      </div>
      <div class="modal-footer">
        <button *ngIf="excluir" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="excluirUsuario()">Excluir</button>            
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Main Content -->