.content {    
    min-height: 100vh;  
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
}

.navbar {
    background-color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary-hover);
}

.nav-link {
    cursor: pointer;
}

ul li a {
    font-weight: bold;
    color: white;
}

.footer {    
    height: 50px;
    bottom: 0;
    background-color: var(--color-primary);  
    display: flex;
    justify-content: center;
    align-items: center;    
    border-top: 2px solid var(--color-primary-hover);
}

p {
    margin: 0; 
    color: white;     
}

.conteudo {
    display: flex;
    flex-direction: row;    
    flex: 1;    
}

.sidebar {    
    width: 15%;
    background-color: var(--color-primary);    
    display: flex;
    flex-direction: column; 
    border-right: 2px solid var(--color-primary-hover);       
}

.sidebar ul {
    margin: 0 auto;
    font-size: 18px;
}

.sidebar ul li {
    margin: 15px auto;
}

.pagina {
    margin: 10px;
    flex: 1;
}

.list {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.list-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-sidebar {
    text-align: right;
}

i {
    margin-right: 15px;
    color: white; 
}

.dropdown,
.dropdown-toggle,
.dropdown-menu {
    background-color: var(--color-primary) !important;
    margin: 0;
    padding: 0;    
}

.dropdown a {
    text-decoration: none;
}

.dropdown-item {    
    background-color: var(--color-primary) !important;
    color: white !important;
    font-size: 14px;
    transition: 0.2s;
}

.dropdown-item:hover {
    background-color: var(--color-background) !important;
    cursor: pointer;
    color: var(--color-primary) !important;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 991px) {
    .sidebar {
        width: 0;
        visibility: hidden;
    } 
    
    .navbar {
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .sidebar {
        width: 15%;
    }        

    .navbar {
        font-size: 12px;
    }
}

@media screen and (min-width: 1320px) {
    .sidebar {
        width: 12%;
    }
}
