<div class="d-flex justify-content-center align-items-center vh-100 bg-white">
  <div class="card shadow p-4 login-card">
    <h3 class="text-center mb-4">Sistema de Vendas</h3>

    <form [formGroup]="loginForm" (ngSubmit)="logar()">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login" formControlName="login" placeholder="Digite seu login" (keyup)="change()">
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Digite sua senha" (keyup)="change()">
      </div>

      <button type="submit" class="btn w-100 mt-3 login-btn">
        Entrar
      </button>
      <small *ngIf="invalido" class="text-danger">Login e/ou senha inválidos</small>
    </form>
  </div>
</div>
