.content {    
    min-height: 100vh;  
    display: flex;
    flex-direction: column;  
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px;
}

.form-check-input:checked {
    background-color: var(--color-primary) !important; /* verde Bootstrap */
    border-color: #28a745 !important;
}
  

.btn-cadastrar{
    width: 20% !important;
}

.botoes{
    margin-top: 25px;
     display: flex; 
     flex-direction: row; 
     justify-content: space-around;
}

input, select{
    margin: 10px 0;
}

span, .modal-title {
    color: rgb(33, 37, 41);
}

#id{
    display: none;    
}

#botaoModal{
    display: none;
    visibility: hidden;
}