server:
  port: 8080
  servlet:
     context-path: /api

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/sistema_vendas
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQLDialect
  h2:
    console:
      enabled: true
      path: /h2-console
logging:
  file:
    name: logs/application.log
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.jdbc.datasource: DEBUG    

secret:
  jwt:
    secret: ${JWT_SECRET:sistema_vendas}

jwt:
  token:
    validity: 1200000		